.container {
    max-width: 340px;
    border-style: none;
    padding-top: 25px;
    align-content: right;
    background-color: lightgrey;
 }

 h1 {
     color: rosybrown;
     font-family: 'Roboto Mono', monospace;
     text-align: center;
     font-size: 50%;
 }
 
 .button {
     font-size: 30px;
     width: 80px;
     height: 80px;
     border-radius: 50%;
     font-family: 'Roboto Mono', monospace;
     background-color: lightgrey;
     color: aliceblue;
 
 }
 
 .display {
     /* max-width: 300px; */
     height: 32px;
     font-weight: 300;
     font-size: 60px;
     text-align: right;
     margin-top: 25px;
     letter-spacing: 2px;
 } 

 .keys {
     background-color: rosybrown;
     color: aliceblue;
 }

 #C {
     background-color: aliceblue;
 }

 #AC {
     background-color: aliceblue;
 }

 #display {
     background-color: lightgrey;
     font-family: 'Roboto Mono', monospace;
 }

 #answer {
     background-color: rosybrown;
     color: aliceblue;
     font-family: 'Roboto Mono', monospace;
 }

 .row {
     margin-bottom: 5px;
     margin-top: 5px;
 }
 
 /* For devices larger than 400px */
 @media (min-width: 400px) {
     .container {
       width: 85%;
       padding: 0; }
   }
 